Source: b43-asm
Section: devel
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9.20120115),
 bison,
 dpkg-dev (>= 1.16.1~),
 flex,
 libfl-dev
Standards-Version: 3.9.6
Vcs-git: git://github.com/fullstory/b43-asm.git
Vcs-Browser: https://github.com/fullstory/b43-asm

Package: b43-asm
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 gcc,
 python3
Description: assembler and disassembler for Broadcom BCM43xx firmware
 b43-asm is an (dis-)assembler for Broadcom AirForce BCM43xx wireless lan
 chipsets with a core revision >= 5.
 .
 It is capable of compiling and disassembling the opensource 'OpenFWWF'
 firmware used by Linux' b43 driver.
